@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Запрет масштабирования*/
body {
   -webkit-text-size-adjust: none;
}

@media screen and (pointer:coarse) {

   /* Запрещаем масштабирование при касании на мобильных устройствах Apple */
   body {
      touch-action: manipulation;
   }
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: rgb(48, 46, 43);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.container__flex {
   display: flex;
   flex-wrap: wrap;
   margin: 20px 0 0 0;
}

/* Шахматное поле */
.field__container {
   margin: 0 auto;
}

.field {
   width: 640px;
   height: 640px;
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
}

.excel {
   width: 80px;
   height: 80px;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.current {
   color: transparent;
   background: url("../images/horse5.png") center no-repeat;
   background-size: cover;
}

@media (max-width:1070px) {
   .container {
      max-width: 970px;
   }

   .field {
      width: 560px;
      height: 560px;
   }

   .excel {
      width: 70px;
      height: 70px;
      font-size: 30px;
   }
}

@media (max-width:992px) {
   .container {
      max-width: 750px;
   }

   .field {
      width: 400px;
      height: 400px;
   }

   .excel {
      width: 50px;
      height: 50px;
      font-size: 30px;
   }
}

@media (max-width:782px) {
   .container {
      max-width: none;
   }

   .field {
      width: 280px;
      height: 280px;
   }

   .excel {
      width: 35px;
      height: 35px;
      font-size: 25px;
   }
}

.horse {
   color: transparent;
   background: url("../images/horse5.png") center no-repeat;
   background-size: cover;
}

/* Шахматное поле */

/* Интерфейс */

.interface {
   margin: 0 auto;
}

.interface__content {
   text-align: center;
   color: aliceblue;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   margin: 0 30px;
}

.interface__content button {
   border: 2px solid rgb(117, 150, 86);
   border-radius: 30px;
   overflow: hidden;
   font-size: 30px;
   letter-spacing: 7px;
   width: 300px;
   height: 60px;
   margin: 0 0 30px 0;
}

.active {
   transition-duration: 0.5s;
   box-shadow: inset 300px 0 0 0 rgb(117, 150, 86);
}

.interface__counter-title {
   margin: 0 0 10px 0;
   font-size: 30px;
   color: white;
}

.interface__counter {
   text-align: center;
}

.counter__minus,
.counter__plus {
   background-color: rgb(117, 150, 86);
   height: 30px;
   width: 30px;
   font-size: 24px;
}

.counter__count {
   margin: 0 10px;
   font-size: 24px;
   color: white;
}

.interface__counter {
   margin: 0 0 20px 0;
}

@media (max-width:1070px) {}

@media (max-width:992px) {
   .interface__content button {
      width: 250px;
      height: 50px;
      font-size: 24px;
   }
}

@media (max-width:782px) {
   .interface__content button {
      width: 260px;
      height: 50px;
      font-size: 26px;
   }
}

/* Интерфейс */