@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-family: 'Roboto', sans-serif;
   background-color: rgb(48, 46, 43);
}

.field {
   border-radius: 10px;
   overflow: hidden;
   display: flex;
   margin: 0 auto;
   width: 640px;
   height: 640px;
   flex-wrap: wrap;
}

.excel {
   width: 80px;
   height: 80px;
   font-size: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 660px) {
   .field {
      width: 400px;
      height: 400px;
   }

   .excel {
      width: 50px;
      height: 50px;
      font-size: 30px;
   }
}

@media (max-width: 420px) {
   .field {
      width: 280px;
      height: 280px;
   }

   .excel {
      width: 35px;
      height: 35px;
      font-size: 20px;
   }
}

.current {
   color: transparent;
   background: url("../images/horse5.png") center no-repeat;
   background-size: cover;
}
