@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-family: 'Roboto', sans-serif;
   background-color: rgb(48, 46, 43);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.container__flex {
   display: flex;
   flex-wrap: wrap;
   margin: 20px 0 0 0;
}

/* Шахматное поле */
.field__container {
   margin: 0 20px;
}

.field {
   width: 640px;
   height: 640px;
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
}

.excel {
   width: 80px;
   height: 80px;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 760px) {
   .field {
      width: 560px;
      height: 560px;
   }

   .excel {
      width: 70px;
      height: 70px;
      font-size: 40px;
   }
}

@media (max-width: 600px) {
   .field {
      width: 400px;
      height: 400px;
   }

   .excel {
      width: 50px;
      height: 50px;
      font-size: 30px;
   }
}

@media (max-width: 440px) {
   .field {
      width: 280px;
      height: 280px;
   }

   .excel {
      width: 35px;
      height: 35px;
      font-size: 20px;
   }
}

.current {
   color: transparent;
   background: url("../images/horse5.png") center no-repeat;
   background-size: cover;
}

/* Шахматное поле */

/* Интерфейс */

.interface {
   display: flex;
   justify-content: center;
   margin: 0 auto;
}

.content {
   text-align: center;
   color: aliceblue;
   font-size: 30px;
   display: flex;
   flex-direction: column;
}

.content button {
   border-radius: 10px;
   overflow: hidden;
   font-size: 24px;
   width: 300px;
   height: 50px;
   background-color: rgb(117, 150, 86);
}

.stop {
   margin: 30px 0 0 0;
}

@media (max-width: 1000px) {
   .container__flex {
      display: block;
      margin: 20px 0 0 0;
   }

   .content {
      display: block;
      margin: 0 30px;
   }

   .start {
      margin: 30px 0 0 0;
   }

   .stop {
      margin: 30px 0 30px 0;
   }
}

@media (max-width: 600px) {
   .content button {
      border-radius: 10px;
      overflow: hidden;
      font-size: 24px;
      width: 200px;
      height: 50px;
      background-color: rgb(117, 150, 86);
   }
}

@media (max-width: 440px) {
   .container__flex {
      margin: 0;
   }

   .field {
      width: 280px;
      height: 280px;
   }

   .content button {
      border-radius: 10px;
      overflow: hidden;
      font-size: 24px;
      width: 100px;
      height: 50px;
      background-color: rgb(117, 150, 86);
   }

   .excel {
      width: 35px;
      height: 35px;
      font-size: 20px;
   }
}

/* Интерфейс */